{{define "main"}}
<div class="tags">a journal of interesting technical ideas . . .</div>
<h1>Most Recent Posts:</h1>

{{range first 4 .Site.RegularPages }}
<div class="child">
  {{if .Params.picture }}<img src="{{.Params.picture}}.png#floatsmallleft" height="120">{{end}}
  <a href="{{.URL}}">{{.Title}}</a> <div class="tags"> <i>{{.Params.Author}} | {{ dateFormat "Monday, Jan 2, 2006" .Date }}</i></div>
        {{ .Summary}}<div class="tags"> 
         {{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}
    </div>
  <br>
  </div>
{{end}}
<hr>
<h2>Other recent articles:</h2>
<div id="parent">
{{range first 6 (after 5 .Site.RegularPages)}}
  <div class="child">
    {{if .Params.picture }}<img src="{{.Params.picture}}.png" height="20">{{end}}
    <a href="{{.URL}}">{{.Title}}</a><br>
    <div class="tags"> 
      <i>by {{.Params.Author}} on {{ dateFormat "1/2/06" .Date }}</i><br>
      {{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}
    </div>
    <br>
  </div>
  {{end}}
  {{end}}