<link rel="stylesheet" href="{{ "bootstrap-table.css" | absURL }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextpertise - A Journal of Interesting Ideas in Technology</title>
    <meta name="description" content="Nextpertise is a journal of interesting ideas in technology, covering topics such as Linux use at home and in the cloud, self-hosting, and cybersecurity.">
    <meta name="keywords" content="linux, VPN, Virtual Machine, cybersecurity, Virtualization, self-hosting">
    <link rel="apple-touch-icon" href="https://nextpertise.net/non-technical.png" />
    <link rel="stylesheet" href="https://www.nextpertise.net/style.css">
</head>
<div class="tags"><img src="https://www.nextpertise.net/nextpertise_rays.png" alt="Nextpertise" height="75" > <i>a journal of interesting technical ideas . . .</i></div>
<div class="nav"style="text-align: left">
  <nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    &NonBreakingSpace;Find us on:&NonBreakingSpace;
    <a href="https://nextpertise.net/index.xml"><img src="/Feed-icon.png" alt="RSS" height="25" ></a>
    <a href="https://www.linkedin.com/company/nextpertise"><img src="/linkedin.png" alt="LinkedIn" height="25" ></a>
    <a href="https://twitter.com/nextpertise"><img src="/twitter.png" alt="twitter" height="25" ></a>
    <a href="https://t.me/joinchat/MRl-MxqCHWolIoWanYeLJw"><img src="/whitelogo.svg" alt="telegram" height="25" ></a>
    {{ if .Params.math }}{{ partial "katex.html" . }}{{ end }}
  </div>
