<link rel="stylesheet" href="{{ "bootstrap-table.css" | absURL }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nextpertise is a journal of interesting ideas: {{.Summary}}">
    <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", "}}{{ end }},{{.Params.Focus_Keyword}}" />
    <meta name="twitter:card" content="{{.Params.description}}">
    <meta property="og:title" content="{{.Params.Title}}" >
    <meta property="og:url" content="{{.Permalink}}" >
    <meta property="og:description" content="{{.Params.description}}" >
    <meta property="og:image" content="https://nextpertise.net/non-technical.png" >
    <link rel="apple-touch-icon" href="https://nextpertise.net/non-technical.png" >
    <link rel="stylesheet" href="https://nextpertise.net/style.css" >
</head>
<div class="tags"><img src="https://nextpertise.net/nextpertise_rays.png" alt="Nextpertise" height="75" > <i>a journal of interesting technical ideas . . .</i></div>
<div class="nav"style="text-align: left">
  <nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}
    {{ end }}
    &NonBreakingSpace;Find us on:&NonBreakingSpace;
    <a href="https://nextpertise.net/index.xml"><img src="/Feed-icon.png" alt="RSS" height="25" >
    <a href="https://www.linkedin.com/company/nextpertise"><img src="/linkedin.png" alt="LinkedIn" height="25" >
    {{ if .Params.math }}{{ partial "katex.html" . }}{{ end }}
  </div>
