.nav {
  background-color: cadetblue;
  color: white;
}

.sidebar-nav {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sidebar-nav-item {
  padding: 0px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
  color: white;
  background-color:cadetblue
}

.sidebar-nav-item:hover {
  background-color: black;
}

body {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  padding: 0px;
  margin: 50px;
}
figcaption {
  font-style: italic; color: cadetblue;
}
.picright {
  style=float:right; padding: 0 0 0 10px;
}

blockquote {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}

.table table{
  border-collapse: collapse;
  width: 100%;
  background-color: lightgray;
}
.table td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.6rem;
}


img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
    box-shadow: cadetblue;
    max-width: 50%;
    padding: 20px 20px;
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
    box-shadow: cadetblue;
    max-width: 50%;
    padding: 20px 20px;
}

#parent {display: grid; grid-template-columns: auto; grid-template-rows: auto}

.child {width: 100%;border-bottom: 50px; }

.tags {color:grey; font-size:18px}

@media screen and (min-width: 600px) {
  #parent {display: grid; grid-template-columns: auto auto; grid-template-rows: auto}
  body { font-size: 24px;}
  .tags { font-size: 20px;}
  .sidebar-nav-item { font-size: 28px;}
}
@media screen and (min-width: 1200px) {
  #parent {display: grid; grid-template-columns: auto auto auto; grid-template-rows: auto}
  body { font-size: 30px;}
  .tags {font-size: 22px;}
  .sidebar-nav-item { font-size: 36px;}
}
@media screen and (min-width: 2400px) {
  #parent {display: grid; grid-template-columns: auto auto auto auto; grid-template-rows: auto}
  body { font-size: 36px;}
  .tags {font-size: 27px;}
  .sidebar-nav-item { font-size: 43px;}
}