{{define "main"}}
  <i>by {{.Params.Author}} on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</i><br>
  <hr>
  <h1>{{.Title}}</h1>
  <p>{{.Content}}</p>
  <br>
  <hr>
  <div style="color:grey; font-size:16px;">{{ if .Params.refs }}<strong>References:<br></strong> {{range .Params.refs}}&nbsp&nbsp<a href="{{ . }}">{{ . }}<br> {{end}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.youtube }}<strong>Video:</strong> {{.Params.youtube}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.github }}<strong>Github:</strong> {{.Params.github}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }} {{end}}{{end}}</div>

  <div style="color:grey; font-size:16px;"><strong>TagCloud: </strong>
    {{ range $key, $value := .Site.Taxonomies.tags }}
    <a href="/tags/{{ $key | urlize  }}">{{ $key | humanize }} ({{ len $value }})
  {{ end }}</div>
  {{end}}