{{define "main"}}
{{if .Params.picture }}<img src="/{{.Params.picture}}.png#floatright" height="140">{{end}}
<h1>{{.Title}}</h1> 
  <h6><div style="text-align: right"><i>by {{.Params.Author}}  on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</i><br></div></h6>
  <p>{{.Content}}</p>
  <br>
  <hr>
  <h6>
    {{ if .Params.refs }}<strong>References:<br></strong> {{range .Params.refs}}&nbsp&nbsp<a href="{{ . }}">{{ . }}<br> {{end}}{{end}}
    {{ if .Params.youtube }}<strong>&nbsp&nbsp <a href="{{.Params.youtube}}">Nextpertise on YouTube<br></strong> {{end}}
    {{ if .Params.github }}<strong>&nbsp&nbsp<a href="{{.Params.github}}">Nextpertise on Github<br></strong>{{end}}
    <br>
    Recent articles related to these tags:
    {{ if .Params.tags }}
      {{range .Params.tags}}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }} 
       {{end}}
    {{end}}
    <ul style="list-style: none;">
      {{ range first 5 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
      <li class="relatedPost">
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}<br />
        {{ .Description | markdownify }}
      </li>
    {{ end }}
  </ul>
<br>


    
Share this article:&NonBreakingSpace;
  <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
  <script type="IN/Share" data-url="{{.RelPermalink}}"></script>&NonBreakingSpace;
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</h6>
  <script
    async
    src="https://utteranc.es/client.js"
    repo="brentstewart/nextpertise"
    issue-term="title"
    theme="github-light"
    crossorigin="anonymous"></script>
  {{end}}